<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.robbot.TestApp" android:versionCode="1" android:versionName="1.0" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<application android:label="TestApp.Android" android:icon="@drawable/Logo_android"></application>
</manifest>